header a {
    text-decoration: none;
  }
  
  header {
    /*padding: 0 20px;
    background-color: #ffffff;
    height: 70px;
    display: flex;
    justify-content: space-between;
*/
	position: fixed;
    top: 20px;
    z-index: 99;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
  }

.container-header {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1305px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 14px;
    background-color: floralwhite;
    box-shadow: 1px 1px 20px 0 rgb(0 0 0 / 2%);
}
  
  #brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
	height: 75px;
  }
  #brand img{
	max-height: 75px;
    padding-top: 1rem;
    padding-bottom: 0.6rem;
  }
  #brand a {
    color: darkorange;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: #47597d;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  ul li {
    padding: 5px;
    margin-left: 1.2rem;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  #login
 {
      border-radius: 30px;
      padding: 5px 17px;
  }
  
  #login {
    border: 1px solid #498afb;
    background-color: #498afb;
  }
  
  
  #signup a {
    color: darkorange;
  }
  
  #login a {
      color: white;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: darkorange;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 66px;
    left: 4%;
    height: calc(100vh - 50px);
    width: 92.2%;
    background-color: white;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 660px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }

  
.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
	color: #8f9296;
	font-size: 14px;
	margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
	transition: ease 0.25s;
  }
  
  .footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
	transition: ease 0.25s;
  }
  
  .footer-distributed .footer-links a:before {
	content: "·";
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
	content: none;
  }
  
  .footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
	transition: all 0.25s;
  }
  
  .footer-distributed .footer-right a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
  }
  
  .footer-distributed p.footer-links a:hover {
	text-decoration: underline;
  }
  
  /* Media Queries */
  
  @media (max-width: 600px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-right {
	  text-align: center;
	}
	.footer-distributed .footer-right {
	  float: none;
	  margin: 0 auto 20px;
	}
	.footer-distributed .footer-left p.footer-links {
	  line-height: 1.8;
	}
  }